h1 {
  color: black;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.loading-screen {
  margin-top: 25%;
  text-align: center;
  font-size: 30px;
  background-color: #3e92cc;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #3e92cc;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #3e92cc;
  transform-origin: top;
}

@media only screen and (max-width: 768px) {
  .loading-screen {
    margin-top: 45%;
  }
}
